aiohttp
asyncclick
pymongo
fastapi
uvicorn
streamlit
httpx
bcrypt
passlib[bcrypt]
python-dotenv
python-jose[cryptography]
pydantic>=2.0,<3.0
pydantic[email]
google-generativeai
google-adk
openai==1.76.2
openai-agents==0.0.14
langchain
langchain-openai

pyasn1>=0.6.1,<0.7.0
pyasn1-modules>=0.4.0,<0.4.3