<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Repair Assistant</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <div id="initial-screen">
      <div id="central-part">
        <h1>HOME REPAIR ASSISTANT</h1>
        <p class="description">Problem diagnosis, DYS solution suggestion, professional search and booking.</p>
        
        <form id="chat-form">
            <input type="text" id="user-input" placeholder="Describe your issue .." required>
        </form>
        
      </div>
    </div>

    <script src="../static/script.js?v=1.0.3"></script>
</body>
</html>